<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>register:</h1>
  <form action="/auth/register" method="POST">

    <input type="text" name="username" required>
    <input type="password" name="password" required>
    <input type="submit" name="submit">
    
  </form>
  <h1>login:</h1>
  <form action="/auth/login" method="POST">

    <input type="text" name="username" required>
    <input type="password" name="password" required>
    <input type="submit" name="submit">
    
  </form>
  <h1>logout:</h1>
  <form action="/auth/logout" method="POST">

    <input type="submit" name="submit">
    
  </form>
</body>
</html>